/* Quảng cáo */
.advert{
    height: var(--height-advert);
    background-color: #222222;
    text-align: center;
}
.advert__link{
    color: #A3A3A3;
    font-size: 1.4rem;
    line-height: 55px;
    font-weight: 500;
}
.advert__link:hover{
    opacity: 90%;
}
.header{
    position: relative;
}
.header-img img{
    display: block;
    width: 100%;
    object-fit: center;
    max-height : 550px;
}
/* Nav bar */
.header-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-contain-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-nav__logo{
    flex: 1;
}
.header-nav{
    display: flex;
    align-items: center;
    margin: 20px 0 28px;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 15px 0px;

}

.header-nav__logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
}
.header-nav__logo-name{
    font-size: 2.2rem;
    font-weight: 700;
    margin-left: 10px;
}

.header-nav__menu-list{
    display: flex;
    align-items: center;
    list-style: none;
}
.header-nav__menu-item{
    color: var(--white-color);
    padding:  12px;
    font-size: 1.6rem;
    font-weight: 400px;
    position: relative;
}
.header-nav__menu-item::before{
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: 3px solid var(--white-color);
    cursor: pointer;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s;
}

.header-nav__menu-item:hover{
    cursor: pointer;
    opacity: 90%;
}
.header-nav__menu-item:hover::before{
    cursor: pointer;
    opacity: 90%;
    width: 72%;
}
.header-nav__icon-language{
    font-size: 1.5rem;
    padding: 13px 16px;
    border-radius: 48%;
    color: var(--white-color);
}
.header-nav__icon-language:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.17);
}
.header-nav__icon-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 100px;
}
.header-nav__icon-item:first-child{
    color : var(--white-color);
    padding: 13px;
    font-size: 1.4rem;
    font-weight: 400px;
}
.header-nav__icon-item:first-child:hover{
    cursor: pointer;
    background-color:rgba(255,255,255,0.15);
    border-radius: 50px;
}

.header-nav__icon-user{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 6px 10px;
    color: #717171;
    border-radius: 50px;
    margin-left: 6px;
    border: 1px solid var(--border-color);
}
.header-nav__icon-user:hover{
    cursor: pointer;
}
.header-nav__icon-menu{
    font-size: 1.6rem;
}
.header-nav__icon-avatar{
    font-size: 2.8rem;
    padding-left: 14px;
}
/* Header search */
.header-search-contain{
    display: flex;
    justify-content: center;
}
.header-search{
    position: relative;
    height: 66px;
    width: 850px;
    background-color: var(--white-color);
    border-radius: 50px;
    box-shadow: 0px 16px 32px rgb(0 0 0 / 15%)
}
.header-search-package{
    display: flex;
    align-items: center;
    height: 100%;
}
.header-search-intro{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    height: 100%;
    padding-left: 20px;
}
.header-search-intro:hover:not(.header-search-intro:nth-child(2)){
    background-color: #ebebeb;
    border-radius: 40px;
    cursor: pointer;
}
.header-search-intro:nth-child(2){
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.header-search-intro-content{
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 180px;
    height: 100%;
    padding-left: 20px;
}
.header-search-intro-content:hover{
    background-color: #ebebeb;
    border-radius: 40px;
    cursor: pointer;
}
.header-search-intro:first-child{
    padding-left: 35px;
    padding-right: 70px;
}
.header-search-intro:last-child{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;

}
.header-search__customer-content{
   margin-left: -38px;
}
.header-search-intro__title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 6px;
}
.header-search-intro__text{
    color: #838383;
}
.header-search__icon-search{
    font-size: 2rem;
    color: var(--white-color);
    padding: 14px;
    background-color: var(--color-primary);
    border-radius: 50%;
    margin-right: 9px;
}
.header-search__icon-search:hover{
    cursor: pointer;
    background-color: #dc0e64;
}
/* Header introduce */
.header-introduce{
    position: absolute;
    top: 28%;
    right: 0;
    left: 0;
    text-align: center;
    margin: 150px 0;
}
.header-introduce__text{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 510;
}

/* introduce content*/
.introduce-content{
   position: relative;
    height: 400px;
   overflow: hidden;
   width: 100%;
}
.introduce-content__img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: center;
    vertical-align: bottom;
    border-radius: 19px;
}
.introduce-content__container{
    position: absolute;
    width: 360px;
    top: 80px;
    left: 82px;
    bottom: 74px;
    color: var(--white-color);
}
.introduce-content__container-title{
    font-size: 4.8rem;
    font-weight: 540;
}
.introduce-content__container-text{
    margin: 16px 0 40px;
    font-size: 1.9rem;
    font-weight: 100;
}

/* Nội dung chính */
.main-content__title{
    font-size: 3rem;
    margin: 68px 0 28px;
}

.main-content-package{
    display: flex;
}
.main-content-package-link{
    display: block;
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
}
.main-content-package__img{
   width: 100%;
   object-fit: contain;
   border-radius: 15px;
}
.main-content-package__title{
    font-size: 1.8rem;
    margin: 8px 0 6px;
    font-weight: 500;
    padding-left: 5px;
}
.main-content-package__text{
    font-size: 1.5rem;
    padding: 0 2px 0 5px;
}

/* Footer */
.footer{
   background-color: #f7f7f7;
   border-top: 1px solid var(--border-color);
  margin-top: 72px;
}
.footer-container{
    padding: 48px 0 50px;
}
.footer-menu__title{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 550;
}
.footer-menu__list{
    margin-top: 12px;
}
.footer-menu__item{
    list-style: none;
    padding: 10px 0;
}
.footer-menu__item:hover{
    opacity: 90%;
}
.footer-menu__item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
}
.footer-menu__item-link:hover{
    text-decoration: underline;
}
/* Coppyright */
.footer-banner{
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}   
.footer-banner-copyright{
    font-size: 1.4rem;
    font-weight: 300;
}
.footer-banner-copyright__item{
    margin: 0 10px;
}
.footer-banner-copyright__item-link{
    text-decoration: none;
    color: var(--text-color);
}
.footer-banner-copyright__item-link:hover{
    text-decoration: underline;
    opacity: 90%;
}
.footer-banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-banner-language-link{
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0 10px;
}
.footer-banner-language__icon{
    font-size: 1.6rem;
}
.footer-banner-language__text{
    font-weight: 550;

}
.footer-banner-app{
    margin-left: 40px;
}
.footer-banner-app-link{
    font-size: 1.9rem;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
}
.footer-banner-app-link:hover,
.footer-banner-language-link:hover{
    opacity: 90%;
}
